{% if not is_cart_empty %}

	{{form_start(form)}}

	{% for cartItem in form.cartItems %}
		{{form_row(cartItem)}}

	{% endfor %}
	
	{{form_row(form.totalAmount)}}

	<button class="btn">{{ button_label|default('Save') }}</button>

	{{form_widget(form._token)}}
	{{form_end(form,{'render_rest':false})}}
{% else %}
	Cart is Empty

{% endif %}
