{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Login
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

	<div class="container-fluid d-flex justify-content-center my-5">

		<div class="form-container">

			<div class="row my-3">
				<div class="col-12">
					{% if error %}
						{% set errorMessage = error.messageKey|trans(error.messageData, 'security') %}
						{{include('components/flash.html.twig',{flashType:'danger',flashMessage:errorMessage})}}
					{% endif %}
				</div>
			</div>


			<form action="{{ path('app_login') }}" method="post">
			
				<div class="mb-4">
					<label class="form-label" for="username">Email</label>
					<input class="form-control" type="email" id="username" name="_username" value="{{ last_username }}">
				</div>

				<div class="mb-5">
					<label class="form-label" for="password">Password:</label>
					<input class="form-control" type="password" id="password" name="_password">
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="btn-container d-flex justify-content-between">
					<button class="btn btn-success" type="submit">Login</button>
					<a class="btn btn-primary" href="#">Register</a>
				</div>

			</form>

		</div>

	</div>
{% endblock %}
