<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Vendor Valley
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{# Font Awesome #}
		<script src="https://kit.fontawesome.com/bd7ff58664.js" crossorigin="anonymous"></script>
	</head>
	<body {{stimulus_controller('global',{numberOfCartItemsUrl:path('app_cart_number_of_items')})}}>

		{% block nav %}
			{{include('components/nav.html.twig')}}
		{% endblock %}

		<main {{stimulus_controller('event-dispatcher')}}>
		
			<div class="container flash-container" id="flash-container">
				<div class="row pt-2" data-action="event-dispatcher:event_hideFlash@document->global#hideFlash">
					
					<div class="col-12 d-none" id="js-flash">
						<div class="alert alert-dismissible fade show" role="alert">
							<span id="flash-message"></span>
							<button type="button" class="btn-close" data-action="event-dispatcher#dispatchHideFlash"></button>
						</div>
					</div>
					
					<div class="col-12">
						{% for message in app.flashes('error')  %}
							{{include('components/flash.html.twig',{flashType:'danger',flashMessage:message})}}
						{% endfor %}
					</div>

					<div class="col-12">
						{% for message in app.flashes('success')  %}
							{{include('components/flash.html.twig',{flashType:'success',flashMessage:message})}}
						{% endfor %}
					</div>
				</div>
			</div>

			{% block body %}{% endblock %}
		</main>

		{% block footer %}
			{{include('components/footer.html.twig')}}
		{% endblock %}

	</body>
</html>
