<div class="border-bottom">
	<nav class="navbar navbar-expand-lg fs-6 bg-white sticky-top p-2 shadow-sm">
		<div class="container">
			<a class="navbar-brand" href="{{path('app_default')}}">
				<img src={{asset('/images/VendorValley.png')}} class="logo" style="width:50px" alt="VendorValley">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="fw-bold nav-link mx-2 active" aria-current="page" href="{{path('app_default')}}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">Contact Us</a>
				</li>
			</ul>
			{% if app.user %}
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link cart btn me-2 position-relative" href="#">
							<i class="fa fa-heart h6"></i>
							<span class="position-absolute mt-2 start-100 translate-middle badge rounded-pill bg-primary">
								<span class="visually-hidden">Wishlist</span>
								<span data-global-target="numberOfWishItems">0</span>
							</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link cart btn me-5 position-relative" href="{{path('app_cart_show')}}">
							<i class="fa fa-cart-shopping h6"></i>
							<span class="position-absolute mt-2 start-100 translate-middle badge rounded-pill bg-primary">
								<span class="visually-hidden">Cart</span>
								<span data-global-target="numberOfCartItems">0</span>
							</span>
						</a>
					</li>
					<li class="dropdown">
						<a class="nav-link text-decoration-none" href="#" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-user fs-5 align-center"></i>
						</a>
						<ul class="dropdown-menu" style="margin-left:-60px">
							<li>
								<a class="dropdown-item" href="{{path('app_user_profile',{id:app.user.id})}}">{{app.user}}</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path('app_logout')}}">Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
			{% else %}
				<ul class="navbar-nav ms-auto me-4">
					<li class="nav-item dropdown">
						<a class="nav-link text-decoration-none" href="#" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-user fs-5 align-center"></i>
						</a>
						<ul class="dropdown-menu" style="margin-left:-60px">
							<li>
								<a class="dropdown-item" href="{{path('app_login')}}">LogIn</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_user_new')}}">Register</a>
							</li>
						</ul>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
</nav>
