<div class="row product-card card p-2 bg-light">
    
    {% set imagePath = product.productImages|length > 0 ? '/uploads/product_images/' ~ product.productImages|first.encodedImageName : image_placeholder_path %}
    
    <div class="col-12">
        <img src={{asset(imagePath)}} class="card-img-top" alt="...">
    </div>

    <div class="col-12">
        <div class="card-body row">
            <div class="col-12 my-2 d-flex justify-content-between">
                <h5 class="card-title fw-bold">{{product.name}}</h5>
                <span class="p-1 border border-primary rounded price">{{product.price|currency}}</span>
            </div>

            <div class="col-12 my-2">
                <p class="card-text">{{product.description|shorten(150)}}</p>
            </div>

            <div class="col-12 categories d-flex flex-wrap gap-1">
                <span class="p-2 rounded-pill bg-dark text-white">Category 1</span>
                <span class="p-2 rounded-pill bg-dark text-white">Category 2</span>
            </div>
      
            
            <div class="col-12 button-container">

                <a href="#buyNow" class="btn btn-md btn-primary my-2 buy-now-button">
                    <span class="mr-2">Buy Now</span>

                    <svg class="buyNowIcon">
                        <use xlink: href="/icons.svg#buyNowIcon"></use>
                    </svg>
                </a>

                <button class="btn btn-md btn-primary add-to-cart-button" data-action="product#addToCart" data-product-url-param="{{path('app_cart_item_new',{'id':product.id})}}">
                    <span class="mr-2">Add to cart</span> 
                    <svg class="addToaddToCartIcon">
                        <use xlink: href="/icons.svg#addToaddToCartIcon"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>