<div {{stimulus_controller('profile')}}>
	<div class="row">
		<div class="col-12">
			{% for message in app.flashes('error')  %}
				{{include('components/flash.html.twig',{flashType:'danger',flashMessage:message})}}
			{% endfor %}
		</div>
	</div>

	{{ form_start(form,{'attr':{'data-profile-target':'form'}}) }}

	<div class="row ">
		<div class="col-12">
			<button class="btn btn-md btn-primary float-end" data-action="profile#enableAllInputs" data-profile-target="editButton">Edit</button>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-12">
			{{form_row(form.email)}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-6">
			{{form_row(form.firstName)}}
		</div>
		<div class="col-sm-12 col-md-12 col-lg-6">
			{{form_row(form.lastName)}}
		</div>
	</div>

	{% if form.type is defined %}
		<div class="row">
			<div class="col-12">
				{{form_row(form.type)}}
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-6">
			{{form_row(form.city)}}
		</div>
		<div class="col-sm-12 col-md-12 col-lg-6">
			{{form_row(form.province)}}
		</div>
	</div>

	<div class="row button-container pt-3">
		<div class="col-sm-12 col-md-2">
			<button class="btn btn-md btn-success" type="submit" data-profile-target="submitButton">Update</button>
		</div>
		<div class="col-sm-12 col-md-2">
			<button class="btn btn-md btn-danger" data-action="profile#disableAllInputs" data-profile-target="cancelButton">Cancel</button>
		</div>
	</div>


	{{ form_widget(form._token) }}
	{{ form_end(form,{'render_rest':false}) }}

</div>
